@model Webapplication.Models.MediaDetailsResponse

@{
	ViewData["Title"] = "Details";
}

<div class="details-container" style="background-image: url('@($"https://image.tmdb.org/t/p/w500{Model.BackdropPath}")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
	<div class="poster">
		<img src="@($"https://image.tmdb.org/t/p/w500{Model.PosterPath}")" alt="@Model.Title" />
	</div>

	<div class="info">
		<h1 class="title"><strong>@Model.Title</strong></h1>
		<p><strong>Description:</strong> <br/>@Model.Overview</p>
		<p><strong>Release year:</strong><br /> @DateTime.Parse(Model.ReleaseDate).Year<p>
		<p><strong>Genre:</strong><br /> 
		<p>@string.Join(", ", Model.Genres.Select(g=> g.Name))</p>
		@* Show actors *@
		<p><strong>Actors:</strong><br />
			<div class="actors-container">
				@foreach (var actor in Model.Actors)
				{
					<div class="actor">
						<img src="@($"https://image.tmdb.org/t/p/w500{actor.ProfilePath}")" alt="@actor.Name"/> 
						<span>@actor.Name as @actor.Character</span>
					</div>
				}
			</div>
		@* Show actors *@
		<p><strong>Directors:</strong><br /></p>
			<div class="directors-container">
				@foreach (var director in Model.Directors)
				{
					<div class="director">
						<img src="@($"https://image.tmdb.org/t/p/w500{director.ProfilePath}")" alt="@director.Name"/>
						<span>@director.Name</span>
					</div>
				}
			</div>
		@if (Model.Video)
		{
			<p><strong>Video:</strong><br/> @(Model.Video)</p>
		}
		</div>
</div>

<div class="back-link">
	@* <a asp-action="@ViewBag.ReturnUrl" class="btn-back">← Back to List</a> *@
</div>

