@model Webapplication.Models.MediaDetailsResponse

@{
	ViewData["Title"] = "Details";
}

<div class="details-container" style="background-image: url('@($"https://image.tmdb.org/t/p/w500{Model.BackdropPath}")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
	<div class="poster">
		<img src="@($"https://image.tmdb.org/t/p/w500{Model.PosterPath}")" alt="@Model.Title" />
	</div>

	<div class="info">
		<h1 class="title"><strong>@Model.Title</strong></h1>
		<p><strong>Description:</strong> <br/>@Model.Overview</p>
		<p><strong>Release year:</strong><br /> @DateTime.Parse(Model.ReleaseDate).Year<p>
		<p><strong>Genre:</strong><br /> 
		<p>@string.Join(", ", Model.Genres.Select(g=> g.Name))</p>
		@* <p><strong>Actors:</strong><br /> @Model.Actor<p> *@
		@* <p><strong>Directors:</strong><br /> @Model.Directors<p> *@
		
		
		<p><strong>Language:</strong><br /> @Model.OriginalLanguage</p>
		<p><strong>Popularity:</strong><br /> @Model.Popularity</p>
				@if (Model.Video)
				{
			<p><strong>Video:</strong><br /> @(Model.Video)</p>
				}
		<p><strong>Vote Average:</strong><br /> @Model.VoteAverage</p>
		<p><strong>Vote Count:</strong><br /> @Model.VoteCount</p>
	</div>
</div>

<div class="back-link">
	@* <a asp-action="" class="btn-back">← Back to List</a> *@ @*TODO: Implement back to list button*@
</div>

