@model List<Genre>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Movies</h1>
</div>

@foreach (var genre in Model)
{
	<form asp-controller="Movie" asp-action="MoviesByGenreId" method="post">
		<input type="hidden" name="genreId" value="@genre.Id" />
		<input type="hidden" name="genreName" value="@genre.Name" />
		<h2>
			@genre.Name (@genre.TotalMovieCount)
			<button id="btnGenre" type="submit"> > </button>
		</h2>
	</form>
	<div class="item-card">
		<ul>
			@foreach (var item in genre.Items.Take(6)) //Limit the number of movies displayed
			{
				if (item != null)
				{
					<ul>
						<a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">
							<img src="@($"https://image.tmdb.org/t/p/w500{@item.PosterPath}")" alt="@item.Title" />
						</a>
						<strong>@item.Title </strong>
					</ul>
				}
			}
		</ul>
	</div>
}